<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="lastPathFile" value=".\lastPath.txt" />
    <add key="vlcPath" value="C:\Program Files (x86)\VideoLAN\VLC\vlc.exe" />
    <add key="vlcOptions" value="--one-instance --start-time={0} --http-host={1} --http-port={2} --http-password={3}" />
    <add key="vlcApi" value="http://{0}:{1}/requests/status.xml{2}" />

    <add key="startTime" value="0" />
    <add key="host" value="localhost" />
    <add key="port" value="8081" />
    <add key="password" value="C1pitan0" />
  </appSettings>
</configuration>